<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_ant_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,160},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,240},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,320},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,400},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,480},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,560},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,640},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{328,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{410,720},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,800},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,800},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,800},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{246,800},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{82,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ant_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{164,80},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbarAnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{0,910},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbar_bgAnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{0,880},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ant_Walking.png</string>
            <key>size</key>
            <string>{492,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1c15bb3cc5b41289ee31409dc632d0:a865d079103544b4b8714ddf04fcdad2:74e5fa610386fb3f6b3a61cd21f773b7$</string>
            <key>textureFileName</key>
            <string>Ant_Walking.png</string>
        </dict>
    </dict>
</plist>
