<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_Minotaur_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,108},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,216},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,216},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,216},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,216},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,324},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,324},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,324},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,324},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,324},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,432},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,432},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,432},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,432},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,432},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,540},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,540},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,540},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,540},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,0},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,540},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,648},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,648},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,648},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,648},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,648},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,0},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,972},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,972},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,972},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,972},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,0},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,972},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1080},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1080},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1080},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1080},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1080},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1188},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1188},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1188},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1188},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1188},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1296},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1296},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1296},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1296},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1296},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1404},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1404},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1404},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1404},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,108},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1404},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1512},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1512},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1512},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1512},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1512},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,1620},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,1620},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,1620},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,1620},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,108},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{360,1620},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_Minotaur_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,108},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Minotaur_Walking.png</string>
            <key>size</key>
            <string>{450,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70f1fd5272b00c1bfbe8acdbc215dd4e:085ae71669104a050c375c91036dfa9c:5c11aff18024407c55d691011228afab$</string>
            <key>textureFileName</key>
            <string>Minotaur_Walking.png</string>
        </dict>
    </dict>
</plist>
