<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_troll_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1494,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1660,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1826,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{664,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{830,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{996,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1162,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1328,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1494,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1660,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1826,200},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{664,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{830,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{996,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1162,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1328,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1494,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1660,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1826,400},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{664,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{830,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{996,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1162,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1328,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1494,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1660,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1826,600},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{664,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{664,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{830,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{996,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1162,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1328,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1494,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1660,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{830,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1826,800},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{0,1000},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{166,1000},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{332,1000},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{498,1000},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{996,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1162,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_troll_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{166,200}</string>
                <key>textureRect</key>
                <string>{{1328,0},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbarTroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{924,1000},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbar_bgTroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{664,1000},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Troll_Walking.png</string>
            <key>size</key>
            <string>{1992,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dd053388e0a1c212584e936a61a9f83:ba675df13356a9adc03744daf5a3e8f9:af59098a5f108cd6767094e381acdd39$</string>
            <key>textureFileName</key>
            <string>Troll_Walking.png</string>
        </dict>
    </dict>
</plist>
