<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zombie_Walking_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,380},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,532},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,456},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,304},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,76},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{118,228},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{413,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{59,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{177,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{354,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{236,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_Walking_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{295,152},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbarZombie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{0,608},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbar_bgZombie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{0,638},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Zombie_Walking.png</string>
            <key>size</key>
            <string>{472,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6ba77c8ecdd201286e9e574a9460c9:fa56faa3a7d007235dc22fb9a5f64446:84f67eae1a37dba57a90514b4ddf9f5c$</string>
            <key>textureFileName</key>
            <string>Zombie_Walking.png</string>
        </dict>
    </dict>
</plist>
